body {
    font-family: Arial, sans-serif;
    background-color:#100d2c;
    margin: 0;
    padding: 0;
}
.navbar-brand {
    margin-right: 100px !important;
}


footer {
    background-color: rgb(13, 22, 49) !important;
}

head {
    background-color: rgb(14, 20, 38) !important;
}

nav {
    text-align: right !important;
}

.navbar {
    background-color: #100d2c !important; 
    padding: 20px 20px !important; 
    
    top: 0 !important;
    right: 0 !important;
    width: 100% !important;
    z-index: 0 !important; 
}

.navbar ul {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.navbar ul li {
    display: inline !important;
}

.navbar ul li a {
    color: #fff !important; 
    text-decoration: none !important;
    padding: 10px 20px !important; 
}

.navbar ul li a:hover {
    background-color: #062551 !important; 
}